@font-face {
	font-family: 'IcoMoon';
	src: url('IcoMoon.eot');
	src: url('IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('IcoMoon.svg#IcoMoon') format('svg'),
		url('IcoMoon.woff') format('woff'),
		url('IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-arrow:before {
	content: "\0024";
}
.icon-arrow-2:before {
	content: "\0025";
}
.icon-arrow-3:before {
	content: "\0026";
}
.icon-play:before {
	content: "\0027";
}
.icon-pause:before {
	content: "\0028";
}
.icon-arrow-4:before {
	content: "\0029";
}
.icon-arrow-5:before {
	content: "\002a";
}
.icon-arrow-6:before {
	content: "\002c";
}
.icon-arrow-7:before {
	content: "\002d";
}
.icon-arrow-8:before {
	content: "\002f";
}
.icon-arrow-9:before {
	content: "\002e";
}
.icon-arrow-10:before {
	content: "\0030";
}
.icon-arrow-11:before {
	content: "\002b";
}
.icon-facebook:before {
	content: "\0021";
}
.icon-facebook-2:before {
	content: "\0022";
}
.icon-google-plus:before {
	content: "\0031";
}
.icon-twitter:before {
	content: "\0032";
}
.icon-twitter-2:before {
	content: "\0033";
}
.icon-twitter-3:before {
	content: "\0034";
}
.icon-twitter-4:before {
	content: "\0035";
}
.icon-vimeo:before {
	content: "\0036";
}
.icon-vimeo-2:before {
	content: "\0037";
}
.icon-flickr:before {
	content: "\0038";
}
.icon-flickr-2:before {
	content: "\0039";
}
.icon-arrow-12:before {
	content: "\003e";
}
.icon-google-plus-2:before {
	content: "\003b";
}
.icon-google-plus-3:before {
	content: "\003c";
}
.icon-tumblr:before {
	content: "\003d";
}
.icon-tumblr-2:before {
	content: "\003f";
}
.icon-picassa:before {
	content: "\0040";
}
.icon-picassa-2:before {
	content: "\0041";
}
.icon-cancel:before {
	content: "\0042";
}
.icon-checkmark:before {
	content: "\0043";
}
.icon-close:before {
	content: "\0044";
}
.icon-plus:before {
	content: "\0045";
}
.icon-minus:before {
	content: "\0046";
}
.icon-record:before {
	content: "\0023";
}
