= "<?php session_start(); ?>"

.warning= simple_format t('booking-form.booking-warning')

:javascript
  $('.field').removeClass('error');
  $(<?php echo $_SESSION["fields_with_errors"]; ?>).each(function(i, el) {
    $('input[name*=' + el + ']').parent().addClass('error')
  });
